.modalBackground {
  width: 100vw;
  height: 100vh;
  background: rgba(47, 47, 47, 0.75);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modalContainer {
  width: 590px;
  height: 187px;
  border-radius: 6px;
  background: #fff;
  padding: 35px;
}

.closeButton {
  background: transparent;
  border: none;
  float: right;
  font-size: 25px;
  cursor: pointer;
}

.modalHeading {
  font-family: Roboto;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  line-height: 160%;
  letter-spacing: 1.015px;
  padding-top: 0px;
  margin-top: 0px;
  padding-left: 30px;
}
.modalGrp {
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  line-height: 160%;
  letter-spacing: 0.956px;
  padding-left: 30px;
  padding-right: 30px;
}

.modalText {
  width: 375px;
  height: 35px;
  border-radius: 22px;
  border: 2px solid #ccc;
  color: #000;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.modalText::placeholder {
  color: #979797;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 160%;
  letter-spacing: 0.805px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.modalColor {
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  line-height: 160%;
  letter-spacing: 0.956px;
  padding-left: 30px;
  padding-right: 20px;
  position: relative;
  bottom: 10px;
}
.colorButton {
  cursor: pointer;
}
.colorButton:hover {
  transform: translate3d(0px, -2px, 0px);
}

.modalCreate {
  width: 154px;
  height: 38px;
  background: #001F8B;
  border-radius: 11px;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 160%;
  letter-spacing: 0.7px;
  position: relative;
  top: 10px;
  left: 450px;
  cursor: pointer;
}

.modalHeadingMobile {
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  line-height: 160%;
  letter-spacing: 1.015px;
  padding-top: 0px;
  margin-top: 0px;
  margin-left: 2px;
}
.modalGrpMobile {
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  line-height: 160%;
  letter-spacing: 0.956px;
  padding-left: 2px;
  
}

.modalColorMobile {
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  line-height: 160%;
  letter-spacing: 0.956px;
  padding-left: 2px;
  
  position: relative;
  bottom: 10px;
}
.colorButtonMobile {
  cursor: pointer;
  
}
.colorButtonMobile:hover {
  transform: translate3d(0px, -2px, 0px);
}



.modalBackgroundMobile {
  width: 100vw;
  height: 100vh;
  background: rgba(47, 47, 47, 0.75);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.modalContainerMobile {
 position: relative;
  width: 90vw;
  height: 40vh;
  max-width: 90vw;
  min-width: 300px;
  border-radius: 6px;
  background: #fff;
  padding: 10px;
}
.modalTextMobile {
  width: 220px;
  height: 35px;
  border-radius: 22px;
  border: 2px solid #ccc;
  color: #000;
  margin-left: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  
}

.modalTextMobile::placeholder {
  color: #979797;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 160%;
  letter-spacing: 0.805px;
  text-align: center;
  
}
.closeButtonMobile {
  background: transparent;
  border: none;
  float: right;
  font-size: 25px;
  cursor: pointer;
}
.modalCreateMobile {
  width: 154px;
  height: 38px;
  float: right;
  background:#001F8B;
  border-radius: 11px;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 160%;
  letter-spacing: 0.7px;
  cursor: pointer;
  position: absolute;
  left: 30vw;
  bottom: 2rem;
  
  
}
